<div class="bodyContainer">
    <div class="navbar">
        <a class="backButton" routerLink="">&lt; Back</a>
        <div class="title">Schrittanleitung zur Fehlerbehebung</div>
    </div>
    
    <div class="step" id="step-message">
        <h2 class="stepContent">Schritt 1</h2>
        <p class="stepContent">Überprüfen Sie die Kamera selbst. Suchen Sie nach Anzeichen von Verschmutzung, Beschädigungen, wie z. B.
            Risse, Dellen oder Kratzer.</p>
    </div>


    <div id="buttons">
        <button type="button">Nächster Schritt</button>
    </div>
    <div id="buttons">
        <button type="button">Fehler aufzeichnen</button>
    </div>
</div>

<router-outlet />